
html,body,div,p,span,img,ul,li,h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
    font-size: 12px;
    width: 100vw;
    height: 100vh;
}
body{
    position: relative;
    font-family: ubuntu, helvetica, arial;
    overflow: hidden;
}
img{
    border:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: gray;
}

html {
    -ms-touch-action: none;
}
/*====================header=====================*/
.setting_top{
    width: 100vw;
    height: 8vh;
    background-color: #fff;
    display: flex;
    /*border: 1px solid gray;
    border-left: none;
    border-right: none;*/
}
.setting_top div{
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    font-size: 1.3rem;
    color: gray;
    letter-spacing: 2px;
}
.setting_top div:nth-child(1){
    width: 13vw;
    font-size: 2rem;
}
.setting_top div:nth-child(3){
    width: 26vw;
}
/*====================setting_mian=====================*/
.setting_main{
    width: 100vw;
    height: 92vh;
    background-color: #f4f4f4;
}
.setting_main ul{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.setting_main li{
    width: 100vw;
    height: 7vh;
    line-height: 7vh;
    display: flex;
    color: #000;
    font-size: 1.3rem;
}
.setting_main li div:nth-child(1){
    width: 20vw;
    text-indent: 2.5vw;
}
.setting_main li div:nth-child(2){
    flex-grow: 2;
}
.setting_main li div:nth-child(3){
    width: 15vw;
    text-align: center;
}
.setting_main .setting_empty{
    height: 2vh;
}
.setting_main .setting_li1,.setting_li2,.setting_li3{
    background-color: #fff;
}
.setting_main .setting_li4{
    width: 95vw;
    border: 1px solid #e8dede;
    box-sizing: content-box;
}
.setting_main .setting_li4 button{
    width: 95vw;
    height: 7vh;
    border: none;
    outline: none;
    background-color: #fff;
    letter-spacing: 2vw;
    font-size: 1.5rem;
}






